# IP de tu ordenador en la red local (NO localhost: el móvil no la resuelve)
EXPO_PUBLIC_POCKETBASE_URL=http://192.168.1.50:8090
EXPO_PUBLIC_OCR_URL=http://192.168.1.50:8000
EXPO_PUBLIC_TRANSLATE_URL=http://192.168.1.50:5000
